
body{
    
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: rgb(170, 79, 13);
    padding-bottom: 20%;
}
tbody{
    background-color: rgb(170, 79, 13);
}
.nav{
    font-family: 'Arimo', sans-serif;
    background-color: rgb(255, 221, 177);
    color: black;
    padding: 1%;
    padding-left: 3%;
    border-bottom: 5px solid black;
}
h2{
    margin-left: 1.5%;
}

h1{
    size: 30px;
    margin-bottom: 1%;
    padding-left: 35%;
}
span{
    size: 20px;
    color: black;
    padding-top: 0.5%;
    margin-left: 63.7%;
    margin-right: 1.5%;
}
input, select, table{
    margin: 1%;
    margin-left: 1.2%;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(255, 221, 177);
    border-color: black;
    color: black;
}
.formularioRegistro{  
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 1%;
}

.formularioVisualizacion{
    padding-left: 19%;
    padding-right: 19%;
}

button{
    box-shadow: 2px 2px 5px black;
    background-color: rgb(255, 221, 177);
    border-color: black;
    color: black;
}

#guardarbtn{
    background-color: rgb(255, 234, 208);
    color: black;
    border-color: black;
    margin-top: 1.5%;
    margin-left: 86%;
    width: 15%;
}

#editarbtn{
    margin-right: 7%;
}