<div class="formularioRegistro">
  <h2>Registro Libro</h2>
  <form [formGroup]="LibroForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label>Paginas</label>
      <input type="number" formControlName="paginas" class="form-control">
    </div>
    <div class="form-group">
      <label>Año creacion</label>
      <input type="number" formControlName="year_creacion" class="form-control">
    </div>
    <div>
      <label>Autor</label>
      <select type="text" formControlName="autor" class="form-control">
        <option [ngValue]="item" *ngFor="let item of autor">{{item.nombre}}</option>
      </select>
    </div>
    <div>
      <label>Editorial</label>
      <select type="text" formControlName="editorial" class="form-control">
        <option [ngValue]="item" *ngFor="let item of editorial">{{item.nombre}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="LibroForm.invalid">guardar</button>
  </form>
</div>

<div class="formularioRegistro">
<h2>Libros Registrados</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Numero de Paginas</th>
        <th>año creacion</th>
        <th>editorial</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of libro">
        <th>{{item.id}}</th>
        <th>{{item.nombre}}</th>
        <th>{{item.paginas}}</th>
        <th>{{item.year_creacion}}</th>
        <th>{{item.editorial.nombre}}</th>
        <th>

          <button type="submit" class="btn btn-success">Editar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>

        </th>
      </tr>
    </tbody>
  </table>
</div>
</div>

<router-outlet></router-outlet>
